{% extends "base.html" %}
{% block head %}
    <link href="/static/css/home.css" rel="stylesheet">
{% endblock %}
{% block body %}

<div class="container">
    <div class="section_addmemo">
        <h1 class="title_addmemo">create</h1>
        <form action="/" method="post">
            <h2 class="section_addmemo">メモタイトル</h2>
            <div>
                <input class="input-style" autocomplete="off" autofocus id="videotitle" name="videotitle" placeholder="メモタイトル" type="text">
            </div>
            <div>
                <h2 class="section_addmemo">url</h2>
                <input class="input-style" id="url" name="url" placeholder="url" type="text">
            </div>
            <div>
                <h2 class="section_addmemo">ジャンル</h2>
                <datalist id="janrecategorie">
                    {% for categorie in categories %}
                        <option value="{{ categorie.categorie }}"id="categorie" name="categorie">
                    {% endfor %}
                </datalist>
                <input autocomplete="off" class="input-style" id="categorie" list="janrecategorie" name="categorie" placeholder="ジャンル" type="text">
            </div>
            <input type="submit" name="regist" value="登録">
        </form>
    </div>
</div>


{% endblock %}