{% extends "base.html" %}
{% block head %}
    <link href="/static/css/home.css" rel="stylesheet">
{% endblock %}
{% block body %}
<!-- create memo -pop-up- -->
<input type="checkbox" id="pop-up">
    <div class="overlay">
        <div class="window">
            <label class="close" for="pop-up"></label>
            <div class="container">
                <div class="section_addmemo">
                    <h1 class="title_addmemo">create new memo</h1>
                    <form action="/memo/{{ video.id }}" method="post">
                        <h2 class="section_addmemo">メモタイトル</h2>
                        <div>
                            <input class="input-style" autocomplete="off" autofocus id="memotitle" name="memotitle" placeholder="メモタイトル" type="text">
                        </div>
                        <div>
                            <h2 class="section_addmemo">timestamp</h2>
                            <input class="input-style" id="timestamp" name="timestamp" placeholder="timestamp" type="time" step="1" max="11:59:59" required>
                        </div>

                        <input type="submit" name="regist" value="登録">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <a href="/memo/{{ video.id }}">メモ</a> -->
    <h1 class="video-title">{{ video.videotitle }}</h1>
    <p class="ganre-title">ジャンル：{{ categorie.categorie }}</p>
    
    <main class="main">
        {% if memos %}
            <div class="flex-item timestamp-wrap">
                <u class="timestamp-title">memo list</u>
                <ul>
                    {% for memo in memos %}
                        <li>
                            <label for="">
                                <a class="timestamp" href="/detail/{{ video.id }}/{{memo.id}}">{{ memo.memotitle }}</a>
                                <!-- <button>{{ memo.timestamp }}</button> -->
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="flex-item timestamp-wrap">
                <h2 class="timestamp-title">no memo</h2>
                <label class="timestamp" for="pop-up" style="border: solid; border-color: #f5f5f5;">push here and create new memo</label>
            </div>
        {% endif %}

        <div class="flex-item video-center">
            <div class="video">
                <iframe width="560" height="315" src="{{ video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div> 
        
    </main>
    <label class="icon-plus" for="pop-up"></label>
    <!-- <div class="flex_item memo">

    </div> -->
{% endblock %}