<!DOCTYPE html>

<html lang="ja">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
         <link href="team-development/static/css/loginstyles.css" rel="stylesheet">
        <link href="/static/css/home.css" rel="stylesheet">
        <title>Home</title>
    </head>

    <body>
        <div class="home">
            <div class="top_home">
                <a class="registbutton" href="/register">Logout</a>
                <h1>Youtube memo</h1>
            </div>
            <main class="main">
                <nav class="flex_item nav_var">
                    <div class="category"> 
                        <!-- <div class="topic">ジャンル</div> -->
                            <ul class="category_class">
                                <li class="topic">ジャンル</li> 
                                <li class="category_item"><a class="title" href="#">education</a></li>
                                <li class="category_item"><a href="#">hobby</a></li>
                                <li class="category_item"><a href="#">music</a></li>
                            </ul>
                    </div>
                </nav>
                <div class="flex_item main">
                    <div class="content">
                        <div class="content_sub">
                            <div class="card_topic">
                                <h1 class="topic_title">education</h1>
                                <!-- <div class="see_topic_block">
                                    <a class="see_topic">全てを表示</a>
                                </div> -->
                            </div>
                            <div class="memo_card_group">
                                <div class="memo_card">
                                    <img class="card__imgframe" src="https://img.youtube.com/vi/UVzVUDXoi0Y/maxresdefault.jpg">
                                    <div class="card__textbox">
                                        <div class="card__titletext">
                                            タイトルがはいります。タイトルがはいります。
                                        </div>
                                        <div class="card__overviewtext">
                                            概要がはいります。概要がはいります。概要がはいります。概要がはいります。
                                        </div>
                                    </div>
                                </div>

                                <div class="memo_card">
                                    <!-- <div class="card__imgframe_movie"><iframe width="560" height="315" src="https://www.youtube.com/embed/1Dr-DaTgkBE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div> -->
                                    <img class="card__imgframe" src="https://img.youtube.com/vi/yaJx0Gj_LCY/maxresdefault.jpg">
                                    <div class="card__textbox">
                                        <div class="card__titletext">
                                            タイトルがはいります。タイトルがはいります。
                                        </div>
                                        <div class="card__overviewtext">
                                            概要がはいります。概要がはいります。概要がはいります。概要がはいります。
                                        </div>
                                    </div>
                                </div>

                                <div class="memo_card">
                                    <img class="card__imgframe" src="https://img.youtube.com/vi/1Dr-DaTgkBE/maxresdefault.jpg">
                                    <div class="card__textbox">
                                        <div class="card__titletext">
                                            タイトルがはいります。タイトルがはいります。
                                        </div>
                                        <div class="card__overviewtext">
                                            概要がはいります。概要がはいります。概要がはいります。概要がはいります。
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="content_sub">
                            <div card="card_topic">
                                <h1 class="topic_title">hobby</h1>
                            </div>
                            <div class="memo_card_group">
                                <div class="memo_card">
                                    <div class="card__imgframe"></div>
                                    <div class="card__textbox">
                                        <div class="card__titletext">
                                            タイトルがはいります。タイトルがはいります。
                                        </div>
                                        <div class="card__overviewtext">
                                            概要がはいります。概要がはいります。概要がはいります。概要がはいります。
                                        </div>
                                        
                                    </div>
                                </div>
                            
                            </div>
                        </div>

                        <div class="content_sub">
                            <div card="card_topic">
                                <h1 class="topic_title">music</h1>
                            </div>
                            <div class="memo_card_group">
                                <div class="memo_card">
                                    <div class="card__imgframe"></div>
                                    <div class="card__textbox">
                                        <div class="card__titletext">
                                            タイトルがはいります。タイトルがはいります。
                                        </div>
                                        <div class="card__overviewtext">
                                            概要がはいります。概要がはいります。概要がはいります。概要がはいります。
                                        </div>
                                        
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                        <div class="content_sub">
                            <div card="card_topic">
                                <h1 class="topic_title">music</h1>
                            </div>
                            <div class="memo_card_group">
                                <div class="memo_card">
                                    <div class="card__imgframe"></div>
                                    <div class="card__textbox">
                                        <div class="card__titletext">
                                            タイトルがはいります。タイトルがはいります。
                                        </div>
                                        <div class="card__overviewtext">
                                            概要がはいります。概要がはいります。概要がはいります。概要がはいります。
                                        </div>
                                        
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                        <div class="content_sub">
                            <div card="card_topic">
                                <h1 class="topic_title">music</h1>
                            </div>
                            <div class="memo_card_group">
                                <div class="memo_card">
                                    <div class="card__imgframe"></div>
                                    <div class="card__textbox">
                                        <div class="card__titletext">
                                            タイトルがはいります。タイトルがはいります。
                                        </div>
                                        <div class="card__overviewtext">
                                            概要がはいります。概要がはいります。概要がはいります。概要がはいります。
                                        </div>
                                        
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            
            
        
            <footer>
                <div class="footer">
                    <small>©️2022 ホビーラッシュ</small>
                </div>
            </footer>
        </div>
    </body>
</html>