<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
        <title>youtube memo {% block title %}{% endblock %}</title>
        <meta name="description" content="youtubeとメモをリンク。新たな学習体験。">
        <meta name="application-name" content="Youtube memo">
        <link href="/static/css/styles.css" rel="stylesheet">
    </head>

    <body>
        <div class="site_entire">
            <header>
                <h1 class="header">Youtube memo</h1>
            </header>
            {block main}{blockend}
            <footer>
                <div class="footer">
                    <small>©️2022 ホビーラッシュ</small>
                </div>
            </footer>
        </div>
    </body>


</html>