{% extends "base.html" %}
{% block title %}
    メモ変更
{% endblock %}
{% block head %}
    <link href="/static/css/home.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="top">
        <a href="{{ url_for('home') }}"><img src="/static/images/logo.png" alt="" class="logo"></a>
    </div>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endwith %}
        <div class="section_addmemo">
            <form action="/memoedit/{{ memo.id }}" method="post">
                <div>
                    <h2>メモタイトル</h2>
                    <input autocomplete="off" autofocus id="memotitle" name="memotitle" type="text" value="{{ memo.memotitle }}" required>
                </div>
                <div>
                    <h2>タイムスタンプ</h2>
                    <input id="timestamp" name="timestamp" type="time" step="1" max="11:59:59" required value="{{ memo.timestamp }}" required>
                </div>
                <input class="btn btn-primary" type="submit" name="edit" value="変更"></input>
            </form>
        </div>
    </div>
{% endblock %}