{% extends "base.html" %}
{% block title %}
    {{ now_memo.memotitle }}
{% endblock %}

{% block head %}
    <!-- <link href="/static/css/memo.css" rel="stylesheet"> -->
    <link href="/static/css/home.css" rel="stylesheet">
{% endblock %}


{% block body %}
    <!-- create memo -pop-up- -->
    <input type="checkbox" id="pop-up">
    <div class="overlay">
        <div class="window">
            <label class="close" for="pop-up"></label>
            <div class="container">
                <div class="section_addmemo">
                    <h1 class="title_addmemo">new memo</h1>
                    <form action="/memo/{{ video.id }}" method="post">
                        <h2 class="section_addmemo">メモタイトル</h2>
                        <div>
                            <input class="input-style" autocomplete="off" autofocus id="memotitle" name="memotitle" placeholder="メモタイトル" type="text">
                        </div>
                        <div>
                            <h2 class="section_addmemo">timestamp</h2>
                            <input class="input-style" id="timestamp" name="timestamp" placeholder="timestamp" type="time" step="1" max="11:59:59" required>
                        </div>
                        <input class="btn btn-primary" type="submit" name="regist" value="登録">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <a href="/memo/{{ video.id }}">メモ</a> -->
    <div class="top">
        <a href="{{ url_for('home') }}"><img src="/static/images/logo.png" alt="" class="logo"></a>
    </div>
    <h2>タイトル：{{ video.videotitle }}</h2>
    <p>メモタイトル : {{ now_memo.memotitle }}</p>
    <div>
        <a class="timestamp-bottom-st btn btn-info" href="/memoedit/{{ now_memo.id }}" role="button">メモ変更</a>
        <a class="timestamp-bottom-st btn btn-danger" href="/delete/{{ video.id }}/{{ now_memo.id }}" role="button">メモ削除</a>
    </div>
    {% if now_memo %}
    <div class="memo-contents">
        <div class="flex_item video-group">
            <!-- <div class="static-position"> -->
                <div class="video-wrap">
                    <div class="video">
                        <iframe width="800" height="450" src="{{ video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="d-flex">
                    {% for memo in memos %}
                        <div class="timestamp-button">
                            <a class="timestamp-bottom-st btn btn btn-outline-primary btn-sm" href="/detail/{{ video.id }}/{{ memo.id }}" role="button">{{memo.memotitle}}</a>
                        </div>
                    {% endfor %}
                </div>

            <!-- </div> -->
        </div>
        
        <div class="flex_item memo-group">
            <form action="/detail/{{ video.id }}/{{ now_memo.id }}" method="post">
                <div class="FlexTextarea" id="FlexTextarea">
                    <div class="FlexTextarea__dummy" id="FlexTextarea__dummy" aria-hidden="true">
                    </div>
                    <textarea name="memotext" id="memotext" placeholder="メモを書き込む">{{ now_memo.memo }}</textarea>
                </div>
                <input class="registbutton" type="submit" value="保存" onclick="window.onbeforeunload=null"/>
            </form>    
            </div>
        </div>
    {% endif %}
    <label class="icon-plus" for="pop-up"></label>

    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script>
        

        $("#ta").on("input",function(evt){
            if(evt.target.scrollHeight > evt.target.offsetHeight){   
                $(evt.target).height(evt.target.scrollHeight);
            }else{          
                var lineHeight = Number($(evt.target).css("lineHeight").split("px")[0]);
                while (true){
                    $(evt.target).height($(evt.target).height() - lineHeight); 
                    if(evt.target.scrollHeight > evt.target.offsetHeight){
                        $(evt.target).height(evt.target.scrollHeight);
                        break;
                    }
                }
            }
        });

        
           
        //memotext();
        //var relativeValue = document.getElementById("memotext"); 
        //var slaveValue = document.getElementById("video-wrap"); 

        //console.log(relativeValue.clientWidth);

    </script>
    <script type="text/javascript">
        window.onbeforeunload = function(e) {
            e.returnValue = "本当にページを閉じますか？";
        }
    </script>
{% endblock %} 